.div__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #d98b79;
    gap: 4rem;
}

.map-iframe {
    width: 400px;
    max-width: 100%;
    aspect-ratio: 1;
}

form {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.input__contacto, textarea {
    border: 0;
    width: 450px;
    max-width: 100%;
}

.field {
    border: solid 1px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.field:focus {
    border-color: black;
}

.btn {
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba (255,255,255,0.3);
    box-shadow: 0 1px 1px rgba (0,0,0,0.3);
    width: 450px;
}

.btn-rose {
    color: white;
    background-color: black;
}

.btn-rose:hover {
    background-color: rgb(161, 164, 163);
}

.btn-rose:active {
    background-color: black;
}

.center-content {
    text-align: center;
}
