.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
}

.footer {
    background-color: #D2BBBF;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 100%;

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .redes p {
            text-decoration: underline;
            text-align: center;
        } 
    }   

    .iconos__redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        }
    }

    .sobre-nosotros {
        justify-content: center;
        align-items: center;
        text-align: center;

        .sobre-nosotros-li {
            list-style-type: none;
        }
}

.fab {
    text-decoration: none;
}

$redes: (
    facebook: rgb(252, 252, 254),
    instagram: rgb(255, 254, 254),
    twitter: rgb(251, 253, 253)
);

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
        background-color: $colordered;
    }
}

.fa-facebook, .fa-instagram, .fa-twitter {
    @extend %iconitos;
}

.carta__container .cartita {
    background-color: map-get($redes, facebook);
}