.marcas__fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

@mixin tamanos ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.marcas__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "marca1 marca2 marca3 marca4"
        "marca5 marca6 marca7 marca8"
        "marca9 marca10 marca11 marca12";
    justify-items: center;
    align-items: center;

    .marca1 {
        max-width: 100%;
        grid-area: marca1;
        @include tamanos (200px, 200px);
    }

    .marca1:hover {
        transform: translateY(-4%);
    }

    .marca2 {
        max-width: 100%;
        grid-area: marca2;
        @include tamanos (200px, 200px);
    }

    .marca2:hover {
        transform: translateY(-4%);
        }
    
    .marca3 {
        max-width: 100%;
        grid-area: marca3;
        @include tamanos (200px, 200px);
    }

    .marca3:hover {
        transform: translateY(-4%);
    }
    
    .marca4 {
        max-width: 100%;
        grid-area: marca4;
        @include tamanos (200px, 200px);
    }

    .marca4:hover {
        transform: translateY(-4%);
    }
    
    .marca5 {
        max-width: 100%;
        grid-area: marca5;
        @include tamanos (200px, 200px);
    }
    
    .marca5:hover {
            transform: translateY(-4%);
        }
    
    .marca6 {
        max-width: 100%;
        grid-area: marca6;
        @include tamanos (200px, 200px);
    }

    .marca6:hover {
        transform: translateY(-4%);
    }
    
    .marca7 {
        max-width: 100%;
        grid-area: marca7;
        @include tamanos (200px, 200px);
    }

    .marca7:hover {
            transform: translateY(-4%);
    }
    
    .marca8 {
        max-width: 100%;
        grid-area: marca8;
        @include tamanos (200px, 200px);
    }
        
    .marca8:hover {
        transform: translateY(-4%);
    }
    
    .marca9 {
        max-width: 100%;
        grid-area: marca9;
        @include tamanos (200px, 200px);
    }

    .marca9:hover {
        transform: translateY(-4%);
    }
    
    .marca10 {
        max-width: 100%;
        grid-area: marca10;
        @include tamanos (200px, 200px);
    }

    .marca10:hover {
        transform: translateY(-4%);
    }
    
    .marca11 {
        max-width: 100%;
        grid-area: marca11;
        @include tamanos (200px, 200px);
    }
        
    .marca11:hover {
        transform: translateY(-4%);
    }
    
    .marca12 {
        max-width: 100%;
        grid-area: marca12;
        @include tamanos (200px, 200px);
    }
        
    .marca12:hover {
        transform: translateY(-4%);
    }
}

