@media screen and (max-width: 480px) {

    .header p {
        font-size: 15px;
        background-color: #D2BBBF;
        height: 40px;
        max-width: 100%;
    }

    .padre {
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .padre .icono__hamburguesa {
        width: 26px;
        height: 26px;
        margin-left: auto;
    }

    .padre .icono__usuario {
        width: 25px;
        height: 25px;
    }

    .padre .icono__carrito {
        width: 25px;
        height: 25px;
    }

    .padre .valkiria {
        font-size: 38px;
    }

    .menu {
        background-color: black;
        height: 40px;

        .menu__menu {
            justify-content: space-between;
            padding-top: 5px;
            padding-right: 25px;
        }

        .menu_item {
            font-size: 9px;
        }
    }

    .givenchy__imagen {
        display: none
    }

    .recomendados {
        font-size: 12px;
        margin-top: 30px;
    }

    /* CARTITAS */

    .carta__container {
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* */

    .wpp {
        width: 30px;
    }

    .footer {
        background-color: #D2BBBF;
        font-size: 16px;
    }

    .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .redes p {
        font-size: 14px;
    }

    .fab {
        background-color: $mainColor;
        width: 45px;
    }

    .sobre-nosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .sobre-nosotros-li {
        list-style-type: none;
        font-size: 12px;
    }

    /* NEW ARRIVALS */

    .arrivals__fondo {
        font-size: 20px;
    }

    .arrivals__fondos {
        font-size: 15px;
    }

    /* REGALOS POR COMPRA */

    .regalos__fondo {
        font-size: 20px;
    }

    .regalos__fondos {
        font-size: 15px;
    }

    .cartita___boton {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 3px;
        margin-top: 7px;
    }

    /* MARCAS */

    .marcas__fondo {
        font-size: 15px;
        margin-left: 10px;
    }

    .marcas__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "marca1 marca2"
            "marca3 marca4"
            "marca5 marca6" 
            "marca7 marca8"
            "marca9 marca10"
            "marca11 marca12";
        justify-items: center;
        align-items: center;
        gap: 25px;
    }

    /* CONTACTO */

    .div__contacto {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    form {
        font-size: 13px;
        margin-top: 20px;
    }

    .field {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-rose {
        font-size: 10px;
    }
}