.menu {
    background-color: black;
    height: 40px;

    .menu__menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        padding-top: 10px;
    

            .menu_item {
                list-style-type: none;
                color: white;
                font-size: 18px;
                text-decoration: none;

            .menu_item:hover {
                text-decoration: underline;
                color: white;
            }
        }
    }
}

    main {
        padding: 40px;
    }