.givenchy__imagen {
    margin-left: 120px;
    margin-right: auto;
}

.recomendados {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}